/* Animations */
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 1.0;
  }
  to { 
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
}

img.pulse { opacity: 0.75; }
img.pulse:hover { 
  -webkit-animation-name: pulse; 
  -webkit-animation-duration: 0.5s; 
  -webkit-animation-iteration-count: 10; 
}

/* CSS3 elements */
.starter {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-right-radius:100px;
	border-bottom-left-radius:100px;
	text-indent:0;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
	color: white !important;
	padding: 26px;
	margin: 26px;
	height: 100px;
}
.starter:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}.starter:active {
	position:relative;
	top:1px;
}

/* Grid columns heights */
.height-21em {
	height: 21em;
}
.height-6em {
	height: 6em;
}

.height-max{
	height: 100%;
}

.ribbon {
	display: table;
	width: 100%;
	height: 100%;
}

.ribbon span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.rotate {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

/* Speech Bubble */
.bubble 
{
	position: relative;
	width: 100%;
	padding: 20px;
	background: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: 20px;
}

/* Dashboard */
.dash-time {
	display: block;
	width: 100%;
	text-align: right;
	line-height: 1em;
	font-size: 4em;
}
.dash-label {
	display: block;
	width: 100%;
	text-align: right;
	line-height: 0px;	
}
.bubble:after 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 15px 15px;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 1;
	top: -15px;
	left: 45px;
}